{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        datascript/datascript {:mvn/version "1.7.2"}
        no.cjohansen/phosphor-clj {:mvn/version "2024.07.31"}
        no.cjohansen/powerpack {:git/url "https://github.com/cjohansen/powerpack"
                                :sha "34b53859d878aabc95a0bb86e143fa8a439f7e0d"}
        no.cjohansen/replicant {:git/url "https://github.com/cjohansen/replicant"
                                :sha "5122f06daeb087c122b768270e6c68c6f53806ae"}}
 :aliases
 {:dev {:extra-paths ["dev" "test" "dev-resources" "portfolio"]
        :extra-deps {cider/piggieback {:mvn/version "0.5.3"}
                     com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                     cjohansen/gadget-inspector {:mvn/version "0.2023.04.12"}
                     no.cjohansen/portfolio {:mvn/version "2024.03.18"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}}}
  :test {:exec-fn kaocha.runner/exec-fn
         :exec-args {}}
  :build {:extra-paths ["dev" "target"]
          :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
          :exec-fn virtuoso.export/export}}}
