@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media (min-width: 800px) {
        html {
            font-size: 20px;
        }
    }

    @font-face {
        font-family: 'Bravura';
        src: url('/BravuraText.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}
